:host {
    display: flex;
    flex-direction: column;
    overflow: visible;
}
.table-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: visible;
}
table {
    width: 100%;
}
mat-paginator {
    flex: 0;
}
th {
    padding: 1em;
}
.compare-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .5em;
}
