<div class="table-container">
    <table mat-table [dataSource]="tableData">
        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef>Score</th>
            <td mat-cell *matCellDef="let e">{{e.score | number:"1.2-2"}}</td>
        </ng-container>
        <ng-container matColumnDef="driver">
            <th mat-header-cell *matHeaderCellDef>Driver</th>
            <td mat-cell *matCellDef="let e">
                <app-part [part]="e.driver"></app-part>
            </td>
        </ng-container>
        <ng-container matColumnDef="body">
            <th mat-header-cell *matHeaderCellDef>Body</th>
            <td mat-cell *matCellDef="let e">
                <app-part [part]="e.body"></app-part>
            </td>
        </ng-container>
        <ng-container matColumnDef="tire">
            <th mat-header-cell *matHeaderCellDef>Tires</th>
            <td mat-cell *matCellDef="let e">
                <app-part [part]="e.tire"></app-part>
            </td>
        </ng-container>
        <ng-container matColumnDef="glider">
            <th mat-header-cell *matHeaderCellDef>Glider</th>
            <td mat-cell *matCellDef="let e">
                <app-part [part]="e.glider"></app-part>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<mat-paginator pageSize="100" [pageSizeOptions]="[50, 100, 500, 1000]" [length]="combins.length"></mat-paginator>
