<mat-expansion-panel expanded style="margin: .5em .5em 0 .5em;">
    <mat-expansion-panel-header>
        Compare Build
    </mat-expansion-panel-header>
    <app-chart type="radar" [data]="radarData" [options]="radarOptions"></app-chart>
</mat-expansion-panel>
<mat-expansion-panel expanded style="margin: .5em;">
    <mat-expansion-panel-header>
        Compare Stats
    </mat-expansion-panel-header>
    <div class="button-container">
        <div class="info">
            <mat-icon>help_outline</mat-icon>
            <span>click values in the chart to filter</span>
        </div>
        <button mat-stroked-button color="warn" *ngIf="settings.stats.length" (click)="resetFilter()">
            <mat-icon>filter_alt_off</mat-icon>
            <span>Reset Filter</span>
        </button>
    </div>
    <div class="config-container">
        <mat-form-field>
            <mat-label>Stat on X-Axis</mat-label>
            <mat-select [(value)]="scatterStatX" (valueChange)="setScatter()">
                <mat-option *ngFor="let stat of filteredStats" [value]="stat.key">{{stat.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Stat on Y-Axis</mat-label>
            <mat-select [(value)]="scatterStatY" (valueChange)="setScatter()">
                <mat-option *ngFor="let stat of filteredStats" [value]="stat.key">{{stat.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <app-chart type="scatter" [data]="scatterData" (canvasClick)="onChartClick($event)"></app-chart>
</mat-expansion-panel>
