<mat-expansion-panel style="margin: .5em .5em 0 .5em;" expanded>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Stat Priority
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-slide-toggle [checked]="settings.simple" (toggleChange)="simpleChange()">Simplify Stats</mat-slide-toggle>
    <div cdkDropList (cdkDropListDropped)="drop($event)" style="margin-top: 1em;">
        <div *ngFor="let stat of settings.priority" cdkDrag>
            <div class="list-item">
                <mat-icon>drag_indicator</mat-icon>
                <span>{{stat.name}}</span>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</mat-expansion-panel>
<mat-expansion-panel style="margin: .5em .5em 0 .5em;" expanded>
    <mat-expansion-panel-header>
        Priority Weight
    </mat-expansion-panel-header>
    <div class="weight-container">
        <div class="slider-container">
            <mat-slider min="1" max="3" step="0.1" [value]="settings.weight" (change)="sliderChange($event)" (input)="settings.weight = $event.value || 0" showTickMarks discrete>
                <input matSliderThumb>
            </mat-slider>
            <span>{{settings.weight}}</span>
        </div>
        <ul>
            <li>1.0 - 1.5: balanced</li>
            <li>1.6 - 1.9: optimal</li>
            <li>2.0 - 3.0: specialized</li>
        </ul>
    </div>
</mat-expansion-panel>
<mat-expansion-panel style="margin: .5em .5em .5em .5em;" expanded>
    <mat-expansion-panel-header>
        Filter
    </mat-expansion-panel-header>
    <div class="filter-container">
        <mat-form-field>
            <mat-label>Driver Class</mat-label>
            <mat-select placeholder="Choose Classes" [(value)]="settings.driver_classes" (valueChange)="driverClassesChange()" multiple>
                <mat-option *ngFor="let class of ['light', 'medium', 'heavy']" [value]="class">
                    {{class || ''}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Body Class</mat-label>
            <mat-select placeholder="Choose Classes" [(value)]="settings.body_classes" (valueChange)="bodyClassesChange()" multiple>
                <mat-option *ngFor="let class of ['kart', 'bike', 'sport', 'atv']" [value]="class">
                    {{class || ''}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Driver Whitelist</mat-label>
            <mat-select placeholder="Choose Drivers" [(value)]="settings.drivers" (valueChange)="change()" multiple>
                <mat-select-trigger>
                    <div class="trigger-container">
                        <app-part *ngIf="settings.drivers[0]" [part]="settings.drivers[0]"></app-part>
                        <span *ngIf="settings.drivers.length > 1" class="additional-selection">(+{{settings.drivers.length - 1}} {{settings.drivers.length > 2 ? 'others' : 'other'}})</span>
                    </div>
                </mat-select-trigger>
                <mat-option *ngFor="let driver of filteredDrivers" [value]="driver">
                    <app-part [part]="driver"></app-part>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Body Whitelist</mat-label>
            <mat-select placeholder="Choose Bodies" [(value)]="settings.bodies" (valueChange)="change()" multiple>
                <mat-select-trigger>
                    <div class="trigger-container">
                        <app-part *ngIf="settings.bodies[0]" [part]="settings.bodies[0]"></app-part>
                        <span *ngIf="settings.bodies.length > 1" class="additional-selection">(+{{settings.bodies.length - 1}} {{settings.bodies.length > 2 ? 'others' : 'other'}})</span>
                    </div>
                </mat-select-trigger>
                <mat-option *ngFor="let body of filteredBodies" [value]="body">
                    <app-part [part]="body"></app-part>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tires Whitelist</mat-label>
            <mat-select placeholder="Choose Tires" [(value)]="settings.tires" (valueChange)="change()" multiple>
                <mat-select-trigger>
                    <div class="trigger-container">
                        <app-part *ngIf="settings.tires[0]" [part]="settings.tires[0]"></app-part>
                        <span *ngIf="settings.tires.length > 1" class="additional-selection">(+{{settings.tires.length - 1}} {{settings.tires.length > 2 ? 'others' : 'other'}})</span>
                    </div>
                </mat-select-trigger>
                <mat-option *ngFor="let tire of stats.tires" [value]="tire">
                    <app-part [part]="tire"></app-part>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Glider Whitelist</mat-label>
            <mat-select placeholder="Choose Gliders" [(value)]="settings.gliders" (valueChange)="change()" multiple>
                <mat-select-trigger>
                    <div class="trigger-container">
                        <app-part *ngIf="settings.gliders[0]" [part]="settings.gliders[0]"></app-part>
                        <span *ngIf="settings.gliders.length > 1" class="additional-selection">(+{{settings.gliders.length - 1}} {{settings.gliders.length > 2 ? 'others' : 'other'}})</span>
                    </div>
                </mat-select-trigger>
                <mat-option *ngFor="let glider of stats.gliders" [value]="glider">
                    <app-part [part]="glider"></app-part>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-expansion-panel>
